body{
    background-color:cornsilk;
}

.firstHeading{
    color:rgb(111, 10, 10);
    font-size:20px;
    font-weight:bold;
    display:inline-block;
    margin-right:6rem;
    margin-left:1rem;

}

.navBar a{
    text-decoration:none;
    color:rgb(111,10,10);
    font-size:1rem;
    font-weight:bold;
    gap:5rem;
    margin:0.5rem;

}

hr{
    margin-top:0px;
    border:1px solid rgb(111, 10, 10);
}